{% load static %}
<head>
    <title>{% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>

<body class="{% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}" class="pull-right">Logout</a>
    {% if info.firstname or info.lastname %}
    {{ info.firstname }} {{ info.lastname }}
    {% else %}
    {{ info.id }}
    {% endif %}

    {% else %}
    <a href="{% url 'allaccess-login' 'strava' %}" class="pull-right">Login</a>
    {% endif %}
    {% if request.user.is_authenticated %}
    <div>
        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
    </div>
    {% else %}
    {% endif %}
</body>
